BOT_TOKEN=7954205733:AAFuZoteW2G1e8UtYmDvmNCc15sweideVdU
SPREADSHEET_ID=1J_Z2zHj4dRj6yaZR72IKQV5-hl1nkcTVmUgSRGz1NQk
GOOGLE_CREDENTIALS={"type": "service_account","project_id": "xenon-height-407317","private_key_id": "a2d3cebba4d902ac1ecb94e3b379d597e7ec43ad","client_email": "telegram-bot-service@xenon-height-407317.iam.gserviceaccount.com","client_id": "103531490476434373520","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/telegram-bot-service%40xenon-height-407317.iam.gserviceaccount.com","universe_domain": "googleapis.com"}

